.hidden {
    visibility: hidden;
}

button:not(.hidden) {
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
}

button:not(.active) {
    background: transparent;
}

button:not(.active):not(.has-task) {
    color: #7C86A2;
}

.active {
    opacity: 1;
    color: white;
    background: #7ED5FC;
}

.has-task {
    color: #AA3434;
    font-weight: bold;
}
